env:
  browser: true
  es2021: true

extends:
  - airbnb-base
  - eslint:recommended
  - plugin:react/recommended

parserOptions:
  ecmaFeatures:
    jsx: true
  ecmaVersion: latest
  sourceType: module

settings:
  react:
    version: detect

rules:
  import/extensions: off
  import/no-unresolved: off
  react/jsx-tag-spacing:
    - error
    - beforeSelfClosing: never
  no-param-reassign: off
  no-console: off
  react/jsx-closing-bracket-location:
    - error
    - line-aligned
  react/prop-types: off
  functional/no-conditional-statement: off
  functional/no-expression-statement: off
  functional/immutable-data: off
  functional/functional-parameters: off
  functional/no-try-statement: off
  functional/no-throw-statement: off
  indent:
    - error
    - 2
    - SwitchCase: 1
  no-underscore-dangle:
    - 2
    - allow:
        - __filename
        - __dirname
  react/function-component-definition:
    - 2
    - namedComponents: arrow-function
  linebreak-style: off
  import/no-extraneous-dependencies:
    - error
    - devDependencies: true
  react/jsx-filename-extension: [1, { "extensions": [".js", ".jsx"] }]
